body {
    overscroll-behavior: contain;
}

button {
    background: transparent;
    display: block;
    border: none;
    cursor: pointer;
    font-size: inherit;
    text-align: left;
    width: 100%;
}
#back {
    width: auto;
    text-align: center;
}

button:hover {
    background: #000;
    color: #96d201;
}

.field {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 7vmin;
    height: 90vh;
    justify-content: center;
}

.info-field {
    border-bottom-style: solid;
    border-width: medium;
    margin-bottom: 20px;
}

.game-field {
    border-style: solid;
    border-width: medium;
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7vmin;
    margin: 0 auto;
    width: fit-content;
    height: 80vh;
}

.level {
    display: inline-block;
    width: fit-content;
    margin-bottom: 40%;
}

.hidden {
    display: none;
}
